body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    align-items: center;
  }

.pop-up-container {
    background-image: url("./background-desktop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.pop-up-container p {
    font-weight: 100;
}

.code, .discounted-price {
    font-weight: 600;
}

.close {
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px 0 0;
}

.close:hover {
    background-color: #0d0d0d;
    color: #fff;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.use-code, .title, .countdown, .offer-ends {
    text-align: center;
}

.offer-ends {
    font-size: 0.8rem;
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px 30px 15px 30px;
}

@media only screen and (max-width: 425px){

    .pop-up-container {
        background-image: url("./background-mobile.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
    }
}

 /* Fade-In Effect */
 .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}
/* Fade-Out Effect */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

